/* Document */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-color: #FFFFFF;
}

p, a {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

/* Navigation */
.hamburger{
  max-width: 42px;
  width: 25%;
  align-self: flex-end;
}

nav > a, p {
  padding: 35px 20px 0px 20px;
}

.selected {
  text-decoration: underline;
}

nav {
  height: 0vh;
  overflow: hidden;
  width: 75%;
  position: absolute;
  z-index: 5;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    transition: 3s;
}

/* Header */
header {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  font-style: normal;

}

.page-title {
  margin: 0;
  font-size: 36px;
}

.header-underline {
  height: 24px;
  width: 75%;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
.main-image {
  margin: 0 auto;
  padding: 32px 0;
}

/* body */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 4;

}

.main > img {
vertical-align:top;
object-fit:cover;
display:block; margin:0; padding:0; width:101%; height:101%;
}

.wave {
  width:100%;
}

.main > section {
    flex-grow: 1;
}



section > p {
  color: #FFFFFF;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0 ;
}

/* footer */
footer {
  width: 100%;
  padding: 24px 18px;
}

footer > p {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

/* Colours */

.blue-text {
  color: #2F3776;
}

.blue-svg-background {
filter: invert(17%) sepia(80%) saturate(889%) hue-rotate(206deg) brightness(99%) contrast(93%);
}

.blue-background {
  background-color: #2F3776;
}

.pink-background {
  background-color: #FFAAC3;
}
