/* Colours
  pink: #FDDEDC
  yellow: #F5DB34
  beige: #E8BF94
*/

* {
  margin: 0;
}

body {
  color: white;
  font-family: 'News Cycle', sans-serif;
  background-color: #FDDEDC;
  transition: 0.3s all;
}

.page {
  min-height: 100vh;
  width: 100%;
  transition: 0.3s all;
}

header {
  background-color: #E8BF94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2em;
}

nav {
  height: 10%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding:10px;
}

.nav_separator {
  padding: 5px;
}

@media (max-width: 812px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  
  .nav_separator {
    display: none;
  }
}

.page_title {
  font-family: 'Satisfy', cursive;
  font-size: 48px;
  order: -1;
}

figure {
  border-radius: 100%;
  margin: 0;
}

#top_circle {
  background-color: #F5DB34;
  position: fixed;
  top: -10%;
  left: -5%;
  width: 50%;
  height: 33%;
}

#bottom_circle {
  background-color: #F5DB34;
  position: fixed;
  bottom: -10%;
  right: -10%;
  width: 50%;
  height: 66%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

h1 {
  z-index: 1;
  font-size: 48px;
  text-align: center;
}

p {
  z-index: 1;
  text-align: center;
  font-size: 24px;
}

.pink {
  background-color: #FDDEDC !important;
}
.blue {
  background-color: #241E4E !important;
}
.beige {
  background-color: #E8BF94 !important;
}
.yellow {
  background-color: #F5DB34 !important;
}

a {
  text-decoration-line: none;
  color: white;
}


.image {
  min-height: 25vh;
  min-width: 25vh;
  height: 25vh;
  width: 25vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.7);
}

#home1 {
  background-image: url('assets/img/speaking.jpeg');
}

#home2 {
  background-image: url('assets/img/speaking2.jpg');
}

#about-decoded-image {
  background-image: url('assets/img/about-decoded.png');
  background-size: 120%;
}
#about-pkt-image {
  background-image: url('assets/img/about-pkt.png');
  background-size: 75%;
}
#about-hacksy-image {
  background-image: url('assets/img/about-hacksy.png');
}
#about-speaking-image {
  background-image: url('assets/img/about-speaking.jpg');
}
#about-flatiron-image {
  background-image: url('assets/img/about-flatiron.png');
}
#contact-image {
  background-image: url('assets/img/contact.jpg');
}

#home-images {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2
}

#about-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2
}

.about-circle {
  height: 35vh;
  width: 35vh;
  margin: 5vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.7);
  overflow: hidden;
  transition: height 0.5s, width 0.5s, opacity 0.5s linear;
}

.front, .back {
  background-position: center;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
}  

.text  {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.text p {
  color: grey;
  padding: 20px;
}

.company-name{
  font-size: 56px;
  display: none;
}

.job-title {
  font-family: 'Satisfy', cursive;
  font-size: 48px;
}

.tech-stack {
  display: none;
}

.description {
  display: none;
  margin-bottom: auto;
  text-align: left;
  padding-top: 30px;
}

.external-link {
  display: none;
  align-self: flex-end;
  margin-top: auto;
  padding: 20px;
}

.external-link p {
  text-align: right;
}

.fas {
  display: none;
}

i {
  color: grey;
  height: 100%
}

.no-scroll {
  overflow: hidden;
  top: -100vh;
}

.close-modal {
  display: none;
  align-self: flex-end;
  padding: 20px;
}

.selected-circle {
  height: 100% !important;
  width: 80vw;
  border-radius: 10px;
  margin : 0;
  position: absolute;
  transition: all 2s;
}

.hidden-circle {
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  display: none;
}

.open-modal-link > a {
  color: grey;
}


/* Services Section */

#services-main {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10%;
}

#services-main-broad {
  width: 30%;
  z-index: 1;
}

#services-main-specific {
  width: 45%;
  z-index: 1;
}

#services-main section p {
  text-align: left;
}


/* Get in Touch Section */

#contact-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact-main section {
  width: 40vw;
  z-index: 2
}

#contact-main p {
  text-align: left;
  font-size: 48px;
  width: 40vw;
  padding: 0px 20px;
}

#contact-image {
  height: 40vw;
}

/* Mobile stylings */

@media (max-width:320px){
  main {
    min-height: 0px;
  }
  header {
    flex-direction: column;
  }
  #bottom_circle {
    height: 33%;
  }
  #top_circle {
    width: 66%;
  }
  #home-images {
    display:none;
  }
  
  #services-main {
    flex-direction: column;
  }
  #services-main-broad {
    width: 100%;
  }
  #services-main-specific {
    width: 100%;
  }
  #contact-main {
    flex-direction: column;
  }

  #contact-main p {
    font-size: 28px;
    width: 80vw;
    padding: 0px;
  }

}

@media (max-width: 420px){
  .about-circle {
    height: 65vw;
    width: 65vw;
    margin: 5vw;
  }
  
  .text p{
    font-size: 16px;
    padding: 0px 20px;
  }
  
  .fa-3x {
    font-size: 2em !important;
  }
}
